[GENERAL]
RESPONSEFILE_VERSION = "11.2.0"
OPERATION_TYPE = "createDatabase"
[CREATEDATABASE]
GDBNAME = "orcl11g.us.oracle.com"
SID = "{{ORACLE_SID}}"
TEMPLATENAME = "General_Purpose.dbc"
SYSPASSWORD = "{{ORACLE_PASSWORD}}"
SYSTEMPASSWORD = "{{ORACLE_PASSWORD}}"
CHARACTERSET = "{{ORACLE_CHARACTERSET}}"
SAMPLESCHEMA={{ORACLE_SAMPLESCHEMA}}
